@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-black text-white;
  font-family: "Jost", sans-serif;
}

p, h1, h2, h3, h4, h5, h6, span, label, input, textarea, button, div, a {
  line-height: 1.3 !important;
}

p {
  @apply text-gray-100 my-4;
}

h2 {
  @apply text-2xl font-bold text-gray-200;
}
h3 {
  @apply text-xl font-bold text-gray-200;
}

.container-kobbi {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container-kobbi {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .container-kobbi {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.header-title-spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

