@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-black text-white;
  font-family: "Jost", sans-serif;
}

p {
  @apply text-gray-100 my-4;
}

h2 {
  @apply text-2xl font-bold text-gray-200;
}
h3 {
  @apply text-xl font-bold text-gray-200;
}

